<div id="missingEl" style="display:none;">
  <div id="cm-el-message"></div>

  <style>
    #missingEl {
      position: absolute;
      z-index: 99;
      padding: 8px;
      border-radius: 3px;
      background-color: #f0f0f0;
    }

    #missingElMask {
      position: absolute;
      z-index: 98;
      background-color: #333333;
      opacity: .5;
    }

    #cm-el-message h4 {
      margin-top: 0;
    }
    #cm-el-message p {
      word-break: break-all;
    }
  </style>
</div>
<div id="missingElMask"></div>