<div id="fondue-panel-view">
  <div class="fondue-panel">
    <div class="group-wrap">
      <ul id="fondue-toggle-group">
        {{#each sources}}
        <li>
          <input type="checkbox" class="fondue-toggle-file" data="{{sourceCID}}"/>
          <a href="javascript:;" class="fondue-file-link" data="{{sourceCID}}">Hide {{path}}</a>
        </li>
        {{/each}}

      </ul>
    </div>
  </div>
  <style>
    .fondue-panel {
    }

    #fondue-toggle-group {
      padding-left: 0;
      margin: 0;
    }

    #fondue-toggle-group li {
      list-style: none;
    }

    ul#fondue-toggle-group li:nth-child(odd) {
      background-color: #f2f8ff;
    }

    ul#fondue-toggle-group li:nth-child(even) {
      background-color: #fdfdfd;
    }

    .group-wrap {
      float: left;
      overflow: scroll;
    }
  </style>
</div>
