<div id="fondue-ui-controls">
  <style>
    #fondue-ui-controls {
      float: right;
      display: block;
      height: 35px;
      width: 50%;
    }

    #panels {
      width: 210px;
    }

    #jsScriptOrder {
      background-color: #edc9f3;
    }

    #pauseUpdates {
      float: right;
      background-color: lightyellow;
    }

    #resetTraces {
      float: right;
      background-color: lightcyan;
    }

    .fondue-option {
      line-height: 30px;
      padding-left: 8px;
      padding-right: 8px;
      margin-right: 4px;
      margin-top: 2px;
      border-radius: 3px;
      text-decoration: none;
      float: right;
    }

  </style>

  <a id="pauseUpdates" class="fondue-option" href="javascript:;">Pause Updates</a>
  <a id="resetTraces" class="fondue-option" href="javascript:;">Reset Traces</a>
  <a id="jsScriptOrder" class="fondue-option" href="javascript:;">JS Order
    <span class="orderUpDown reverse">Normal &#8595;</span>
    <span class="orderUpDown normal" style="display: none;">Reversed &#8593;</span>
  </a>
</div>
