html
  body
    .restart-mode(style="display:none;")
      .row(style='padding-top:.6em; padding-bottom:1em;')
        .col-xs-12
          span The Ibex system needs inspection access to this window.
          button#reload.btn.btn-default.btn-xs(type='button', aria-label='Left Align', style="margin-left:1em;")
            i
            | #{' '}Reload with Ibex
    .active-mode(style="display:none;")
      .row(style='padding-top:.6em; padding-bottom:1em;')
        .col-xs-12
          p
          | Broadcasting...